@import "variables";

@function set-text-color($bg-color){
  @if(lightness($bg-color) < 50){
    @return $light-color;
  } @else {
    @return $dark-color;
  }
}

@mixin transform($property){
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin transition($property){
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin borderBlink(){

}