@import 'variables';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  background-color: $light-color;
  color: $dark-color;
  font-family: $font-stack;
  line-height: 1.5;
}

header {
  background-color: $dark-color;
  color: $light-color;

  header h1 {
    text-align: center;
  }
}

.section{
  padding: 3rem;

  h3{
    font-size: 2rem;
  }

  &-a{
    background-color: $primary-color;
    color: $light-color;
      a{
        color: $light-color;

        &:hover{
          color: $secondary-color
        }
      }
  }
  &-b{
    background-color: $secondary-color;
    a{
      color: $dark-color;
        a:hover{
          color: $primary-color;
        }
    }
  }
}

%btn-shared{

}
