@import "variables";
@import "utilities";
@import "functions";
@import "item_grid";
@import "media";

* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $medium-color;
}

h2, h3, h4 {
  text-transform: capitalize;
}

.section-title{
  font-size: 2.5rem;
}

#logo{
  height: 70px;
}

#header {
  &-home {
    height: 70vh;
    color: $dark-color;
    background: url(../img/banner.jpg) no-repeat center bottom / cover;
  }

  &-content {
    text-align: center;
    padding-top: 4em;

    h1 {
      font-size: 4rem;
      line-height: 1.3;

      .txt {
        border-right: 3px solid $dark-color;
        -webkit-animation: borderBlink 1s step-end infinite;
        animation: borderBlink 1s step-end infinite;
      }
    }
  }

  &-inner{
    height: 6rem;
    color: $light-color;
    background: rgb(2,0,36);
    background: linear-gradient(63deg, rgba(2,0,36,1) 0%, rgba(213,0,255,1) 100%);
  }
}

.container {
  max-width: 1080px;
  padding: 0 1.5rem;
  margin: 0 auto;
  overflow: hidden;
}

#main-nav {
  display: flex; //Place logo and nav bar side by side
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex; //Place nav items side by side
    padding-top: 1rem;
    list-style: none;

    a {
      color: $dark-color;
      text-transform: uppercase;
      padding: 1rem 1.5rem;
      border-bottom: 3px transparent solid;
      transition: border-color 0.5s;

      &:hover {
        border-color: $dark-color;
      }

      &.current {
        border-color: $medium-color;
      }
    }
  }
}

.lead {
  font-size: 20px;
}

.progress {
  height: 20px;
  background-color: $light-color;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  div {
  height: 20px;
  background-color: $medium-color;}
  border-radius: 15px;
  }

.btn {
  @extend %btn-shared;
  margin: 1rem;

  &-main {
    background-color: $medium-color;
    color: $light-color;

    &:hover {
      background-color: lighten($medium-color, 10%);
    }
  }

  &-light {
    background-color: $light-color;
    color: $dark-color;

    &:hover {
      background-color: darken($light-color, 10%);
    }
  }

  &-dark {
    background-color: $dark-color;
    color: $light-color;

    &:hover {
      background-color: lighten($dark-color, 10%);
    }
  }
}

#home {
  &-a {
    .specializations {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      margin-top: 2rem;

      .fa-solid {
        color: $medium-color;
        margin-bottom: 8px;
        text-align: center;
      }
    }
  }

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      div {
        padding: 3rem;

        &:nth-child(odd) {
          background-color: #fff;
        }

        &:nth-child(even) {
          background-color: $medium-color;
        }
      }

      li {
        line-height: 2;
        list-style-type: none;

        .stats-title {
          font-size: 1.5rem;
        }

        .stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
      text-align: center;
    }

    &-icon {
      border-radius: 50%;
      background-color: $dark-color;
      color: $light-color;
      padding: 2rem;
      width: 150px;
      height: 150px;
      line-height: 80px;
      text-align: center;
      position: relative;
      transition: background-color .5s;

      &:hover {
        background-color: $medium-color;
      }
    }


    &-step {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: $medium-color;
      color: $light-color;
      line-height: 5px;
      text-align: center;
      padding: 1rem 0;
      transition: background-color .5s;
    }
  }
}


.footer{
  background-color: $dark-color;
  color: $light-color;

  &-content{
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .social .fa-brands{
    color: $light-color;
    margin-left: 1rem;
    border: 1px solid $light-color;
    line-height: 30px;
    text-align: center;
    height: 45px;
    width: 45px;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color .5s;
    box-sizing: border-box;
    max-width: 100%;

    &:hover{
      background-color: $medium-color;

    }
  }
}

.about {
  &-a{

  }
  &-info{
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
      "image bio bio"
      "about1 about2 about3"
  ;
    grid-gap: 1rem;

    .bio-image{
      grid-area: image;
      margin-bottom: 2rem;
    }
    .bio{
      grid-area: bio;
      border-left: 5px solid $medium-color;
      padding: 2rem;
      text-align: left;
      margin-bottom: 2rem;
      color: $dark-color;
    }
  }
  &-1 {
    grid-area: about1;
  }
  &-2 {
    grid-area: about2;
  }
  &-3 {
    grid-area: about3;
  }

  &-logos{
    display: flex;
    justify-content: space-around;
  }

  &-d {
    .testimonials{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.5rem;
      margin-top: 1.5rem;

      .testimonial{
        ul{
          list-style: none;
          margin: 1rem 0;
          display: flex;
          justify-content: center;
        }
        p{
          border: 1px solid $medium-color;
          border-radius: 10px;
          padding: 1rem;
        }
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 1rem;
        }
      }
    }
  }
}

#about-b{
  .container h4{
    color: $light-color;
  }
}

#contact{
  &-a{
    .text-fields{
      display: grid;
      grid-template-areas:
      'name email'
      'subject phone'
      'message message'
      ;
      grid-gap: 1rem;
      margin-bottom: 1.5rem;

      .name-input{
        grid-area: name;
      }
      .email-input{
        grid-area: email;
      }
      .subject-input{
        grid-area: subject;
      }
      .phone-input{
        grid-area: phone;
      }
      .message-input{
        grid-area: message;
        width: 100%;
        height: 100px;
      }

      .text-input{
        padding: 0.5rem 1rem;
        font-family: dosis, sans-serif;
        font-size: 1rem;
        box-sizing: border-box;
        max-width: 100%;
      }

      button[type='submit']{
        width: 200px;
        @extend %btn-shared;
      }
    }
  }
  &-b{
    .contact-info{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      color: white;

      a{
        color: $light-color;
        //text-decoration: underline;

        &:hover{
          color: $medium-color;
        }
      }
    }
  }
}


