*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  max-width: 100%;
}

.container{
  max-width: $website-width;
  padding: 0 1.5rem;
  margin:0 auto;
  overflow:hidden;
}

%btn-shared{
  padding: 0.8rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;

}

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4{
    padding: 4rem 0;
  }
}

.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4{
    margin: 4rem 0;
  }
}

.text-center{
  text-align: center;
}

.bottom-line {
  border-bottom: 3px solid $medium-color;
  width: 25%;
  margin: 1rem auto 2rem;
}

.bg{
  &-medium{
    background-color: $medium-color;
    color: set-text-color($medium-color);
  }
  &-dark{
    background-color: $dark-color;
    color: set-text-color($dark-color);
  }
  &-light{
    background-color: $light-color;
    color: set-text-color($light-color);
  }
}

.lead{
  font-size: 125%;
}

@-webkit-keyframes borderBlink {
  from, to {
    border-color: transparent; }
  50% {
    border-color: black; } }

@keyframes borderBlink {
  from, to {
    border-color: transparent; }
  50% {
    border-color: black; } }