@import "variables";
@import "utilities";
@import "functions";

* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: 'Dosis', sans-serif;
}

body {

}

a {
  text-decoration: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

.section-title{
  font-size: 2.5rem;
}

img {
}

#header {
  &-home {
    background: url("../resProject/assets/items/banner.jpg") $light-color no-repeat center bottom / cover;
    height: 70vh;
    color: $dark-color;
  }

  &-content {
    text-align: center;
    padding-top: 2em;

    h1 {
      font-size: 3.5em;
      line-height: 1.5;

      .txt {
        border-right: 3px solid $dark-color;
        //-webkit-animation: borderBlink 1s step-end infinite;
        //animation:
      }
    }
  }

  &-inner{
    height:7rem;
    color: $dark-color;
    height: 120px;
    background: rgb(2,0,36);
    background: linear-gradient(63deg, rgba(2,0,36,1) 0%, rgba(213,0,255,1) 100%);

  }

}

.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  //background-color: yellow;
  margin: 0 auto;
  overflow: hidden;
}

#main-nav {
  display: flex; //Place logo and nav bar side by side
  justify-content: space-between;

  ul {
    display: flex; //Place nav items side by side
    padding-top: 2.5rem;
    list-style: none;

    li {
    }

    a {
      color: $dark-color;
      text-transform: uppercase;
      padding: .75rem 1.5rem;
      border-bottom: 3px transparent solid;
      transition: border-color 0.5s;

      &:hover {
        border-color: $dark-color;
      }

      &.current {
        border-color: $medium-color;
      }
    }
  }
}

.lead {
  font-size: 20px;
}

.btn {
  @extend %btn-shared;
  margin: 1rem;

  &-main {
    background-color: $medium-color;
    color: $light-color;

    &:hover {
      background-color: lighten($medium-color, 10%);
    }
  }

  &-light {
    background-color: $light-color;
    color: $dark-color;

    &:hover {
      background-color: darken($light-color, 10%);
    }
  }

  &-dark {
    background-color: $dark-color;
    color: $light-color;

    &:hover {
      background-color: lighten($dark-color, 10%);
    }
  }
}

#home {
  &-a{
    .specializations {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 1rem;
      margin-top: 2rem;

      .fa-solid{
        color: $medium-color;
        margin-bottom: 8px;
        text-align: center;
      }
    }
  }
  &-b{
    .stats{
      display:grid;
      grid-template-columns: repeat(3, 1fr);

      ul{
        padding: 3rem;

        &:nth-child(odd){
          background-color: #fff;
        }
        &:nth-child(even){
          background-color: $medium-color;
        }
      }
      li{

        .stats-title{
          font-size: 1.5rem;
        }

        .stats-number{
          font-size: 2rem;
          font-weight: bold;
        }
      }

    }
  }
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }

    &-icon{
      border-radius: 50%;
      background-color: $dark-color;
      color: $light-color;
      padding: 2rem;
      width: 130px;
      height: 130px;
      line-height: 70px;
      text-align:center;
      position: relative;
      transition: background-color .5s;

      &:hover{
        background-color: $medium-color;
        width: 150px;
        height: 150px;
        line-height: 80px;

        .process-step{
          background-color: $light-color;
          color: $dark-color;
        }
      }
    }

    &-step{
      position: absolute;
      top: 0;
      right:0;
      font-size: 14px;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: $medium-color;
      color: $light-color;
      line-height: 5px;
      text-align: center;
      padding: 1rem 0;
      transition: background-color .5s;
    }
  }
}

footer{
  background-color: $dark-color;
  text-color: $light-color;

  &-content{
    justify-content: space-between;
    align-items: center;
  }

  .social .fa-brands{
    color: $light-color;
    margin-left: 1rem;
    border: 1px solid $light-color;
    line-height: 30px;
    text-align: center;
    height: 45px;
    width: 45px;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color .5s;

    &-hover{
      background-color: $medium-color;

    }
  }
}

.about {
  &-a{

  }
  &-info{
    margin-bottom: 2rem;
    display: grid;
    grid-template-areas:
      "image bio bio"
      "about1 about2 about3"
  ;
    grid-gap: 1rem;

    .bio-image{
      grid-area: image;
      margin-bottom: 2rem;
    }
    .bio{
      grid-area: bio;
      border-left: 5px solid $medium-color;
      padding: 1rem;
      text-align: left;
    }
  }
  &-1 {
    grid-area: about1;
  }
  &-2 {
    grid-area: about2;
  }
  &-3 {
    grid-area: about3;
  }
}