@import 'scss/practice1/variables';
@import 'scss/practice1/functions';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  background-color: $light-color;
  color: set-text-color($light-color);
  font-family: $font-stack;
  line-height: 1.5;
}

header {
  background-color: $dark-color;
  color: $set-text-color($dark-color);

  h1 {
    text-align: center;
  }
}

.section{
  padding: 3rem;

  h3{
    font-size: 2rem;
  }

  &-a{
    background-color: $primary-color;
    color: $light-color;
    //a{
    //  color: $light-color;

    //  &:hover{
    //    color: $secondary-color
    //  }
    //}
  }
  &-b{
    background-color: $secondary-color;
    //a{
    //  color: $dark-color;
    //    a:hover{
    //      color: $primary-color;
    //    }
    //}
  }
}

%btn-shared{
  display: inline-block;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn {
  @extend %btn-shared;
  &-light{
    background-color: $light-color;
    color: set-text-color($light-color) !important;
    &:hover{
      background-color: darken($light-color, 10%);
    }
  }
  &-dark{
    background-color: $dark-color;
    color: set-text-color($dark-color) !important;
    &:hover{
      background-color: darken($dark-color, 10%);
    }
  }
  &:hover {
    @include transform(rotate(5deg));
  }
}
